header.bg-indigo-600.p-4
  .container.mx-auto.flex.justify-between.items-center
    h1.text-2xl.text-white.font-extrabold.text-center Bienes
      span.font-normal Raices

    nav.my-5.text-sm.font-bold.text-white(class='md:flex md:gap-3 md:items-center hidden')
      a(href='') Mis Propiedades
      a(href='') Mi Perfil
      a.bg-indigo-800.py-2.px-10.rounded-lg(href='') Cerrar Sesión
